<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

        <hibernate-configuration>
          <session-factory>
            <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
            <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
            <property name="hibernate.connection.url">jdbc:derby://localhost:1527/brevissimus</property>
            <property name="hibernate.connection.username">bbbpm</property>
            <property name="hibernate.connection.password">bbbpm</property>
            <property name="hibernate.connection.pool_size">10</property>
            <property name="show_sql">true</property>
            
            <!--property name="hibernate.hbm2ddl.auto">update</property-->
            <mapping class="com.brevissimus.bbbpm.model.Attribute"/>
            <mapping class="com.brevissimus.bbbpm.model.Node"/>
            <mapping class="com.brevissimus.bbbpm.model.State"/>
            <mapping class="com.brevissimus.bbbpm.model.Process"/>
            <mapping class="com.brevissimus.bbbpm.model.ProcessType"/>
            <mapping class="com.brevissimus.bbbpm.model.AttributeType"/>
            <mapping class="com.brevissimus.bbbpm.model.User"/>
          </session-factory>
        </hibernate-configuration>